MNEMONIC="your seed words for your ATOM wallet"
RPC_URL="https://cosmos-rpc.polkachu.com"
CHAIN_ID="cosmoshub-4"
DELEGATOR_ADDRESS="cosmos1..."
REST_URL="https://lcd-cosmoshub.keplr.app/"
DENOM="uatom"
RESERVE="1000000"
MIN_RESTAKE_AMOUNT="800000"
MIN_REWARD_AMOUNT="200000"
GAS_PRICE="0.025uatom"
PREFIX="cosmos"
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1xxxxxxxxxxxxxxxxx
